

  background-color: lightgrey;
  color: black;
  padding: 10px;

.Works {
  background-color: lightblue;
  color: black;
  padding: 10px;
}
.Services {
  background-color: #f7fff0;
  color: black;
  padding: 10px;
  color opacity: 30%;

}
.Service {
  background-color: #e0ebeb;
  color: black;
  padding: 10px;
}
.Main{
	text-align: center;

}
.Name span{
	color:red;
	dispaly: inline-block;
	animation: animate 1s linear infinite;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 30px;
	
	
	
	
}
